.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}

@media (min-width: 1440px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}

@media (min-width: 1440px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}

@media (min-width: 1440px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}

@media (min-width: 1440px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}
.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}

.Input::after {
  content: attr(data-after);
  position: absolute;
  left: var(--left-offset);
  font-size: x-large;
  color: red;
}

.Input span.before {
  margin-top: 12px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 40px;
  border-right: 1px solid black;
  padding-right: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.Input span + input {
  display: inline-block;
  padding-left: 100px;
}

.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Input .file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2.5px solid #e9edf1;
  border-radius: 14px;
  padding: 10px 1rem;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.Input .file span {
  width: 70%;
}

.Input .file i {
  line-height: 1.4;
  font-style: normal;
  text-decoration: underline;
  font-weight: 700;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .Span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .Span {
    font-size: 1.5rem;
  }
}
.Radio {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.Radio .radio {
  background: rgba(233, 237, 241, 0.2);
  padding: 10px 15px;
  border: 1.41644px solid #bac6d2;
  border-radius: 5.24918px;
  max-width: 250px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  transition: all 300ms ease-out;
  width: 100%;
}

.Radio .radio:hover {
  background: rgba(233, 237, 241, 0.4);
}

.Radio .radio label {
  cursor: pointer;
}

@media (max-width: 700px) {
  .Radio {
    flex-direction: column;
  }
}
.Selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}

.Selector .Filters {
  background: none;
  position: relative;
}

.Selector .Filters .filterCurrent {
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  padding: 0.2rem 0.5rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.Selector .Filters .filter {
  height: 300px;
  overflow-y: auto;
  border-radius: 7px;
  position: absolute;
  top: 0;
  z-index: 5;
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: none;
  background-color: rgba(13, 13, 13, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.9);
  opacity: 1;
  gap: 0.5rem;
  width: 100%;
  /* Style for the scrollbar */
  /* Style for the scrollbar thumb */
  /* Style for the scrollbar track */
}

.Selector .Filters .filter div {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0.8;
  background: none;
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  transition: opacity 200ms ease-in;
}

.Selector .Filters .filter div:hover {
  opacity: 1;
  background-color: rgb(13, 13, 13);
}

.Selector .Filters .filter::-webkit-scrollbar {
  width: 5px;
}

.Selector .Filters .filter::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.Selector .Filters .filter::-webkit-scrollbar-track {
  background-color: #1f202e;
}

.active {
  background-color: #1f202e !important;
  color: white;
  opacity: 1 !important;
}

.Layout {
  position: relative;
  display: flex;
}
.Layout .LayoutSidebar {
  display: none;
}
@media (min-width: 1000px) {
  .Layout .LayoutSidebar {
    display: block;
    width: 270px;
  }
}
.Layout .LayoutNavbar {
  width: 100%;
  padding-top: 80px;
}
@media (min-width: 1000px) {
  .Layout .LayoutNavbar {
    width: calc(100% - 270px);
  }
}

.Navbar {
  z-index: 10;
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 4%;
  gap: 10px;
  border-bottom: 1px solid #adb1b2;
  position: fixed;
  top: 0;
  right: 0;
}
@media (min-width: 1000px) {
  .Navbar {
    width: calc(100% - 270px);
  }
}
.Navbar > div {
  display: flex;
  align-items: center;
}
.Navbar .Dashboard {
  flex: 1;
  gap: 7px;
  justify-content: flex-start;
}
.Navbar .Dashboard div {
  font-size: 20px;
}
.Navbar .Dashboard span {
  display: flex;
  line-height: 0;
  align-items: center;
}
.Navbar .Dashboard svg {
  font-size: 1.4rem;
  width: 22px;
}
.Navbar .BellIcon .Bell {
  position: relative;
}
.Navbar .BellIcon span {
  position: absolute;
  background: #db8000;
  border: 1px solid #e3e5e6;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 0;
  right: 0;
}
@media (min-width: 700px) {
  .Navbar .BellIcon {
    padding: 0.55rem;
    border: 0.75px solid #e8e8e8;
    border-radius: 60px;
  }
}
.Navbar .Avatar {
  gap: 4px;
  cursor: pointer;
}
.Navbar .Avatar .AvatarImage {
  width: 35px;
  height: 35px;
  position: relative;
}
.Navbar .Avatar svg {
  color: #adb1b2;
  font-size: 1.4rem;
}
.Navbar .Avatar .Bar {
  position: absolute;
  top: 80px;
  right: 4%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background: #0d1d2f;
}
.Navbar .Avatar .Bar aside {
  display: flex;
  align-items: center;
}
.Navbar .Avatar .Bar .Top {
  background: #f4f9fa;
  padding: 12px 20px;
  display: flex;
  gap: 1rem;
  cursor: default;
}
.Navbar .Avatar .Bar .Top span {
  display: flex;
  cursor: pointer;
}
.Navbar .Avatar .Bar .Bottom {
  gap: 5px;
  flex-direction: column;
  width: 100%;
}
.Navbar .Avatar .Bar .Bottom a {
  padding: 14px 18px;
  font-size: 20px;
  color: #f4f9fa;
  opacity: 0.9;
  width: 100%;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.Navbar .Avatar .Bar .Bottom a:hover {
  background: #f4f9fa;
  color: #0d1d2f;
  opacity: 1;
}
@media (min-width: 350px) {
  .Navbar {
    gap: 1rem;
  }
}
@media (min-width: 1000px) {
  .Navbar .Search {
    width: min(100%, 200px);
    order: 2;
  }
  .Navbar .Avatar {
    order: 3;
  }
}
.Navbar .openSideBar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: min(100%, 270px);
}

.SidebarContainer {
  height: 100vh;
  position: relative;
}
.SidebarContainer .Sidebar {
  min-height: 100vh;
  background: #0d1d2f;
  border: 0.5px solid rgba(24, 35, 58, 0.5);
  overflow-y: auto;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.SidebarContainer .Sidebar .Logo {
  height: 80px;
  border-bottom: 1px solid #adb1b2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.SidebarContainer .Sidebar .AccountType {
  padding: 5% 0;
  border-bottom: 1px solid #adb1b2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.SidebarContainer .Sidebar .AccountType .Account {
  border: 1px solid rgba(233, 237, 241, 0.25);
  border-radius: 4px;
  padding: 12px;
  width: 90%;
}
.SidebarContainer .Sidebar .AccountType .Account div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 3px;
  margin-top: 5px;
}
.SidebarContainer .Sidebar .AccountType .Account div span {
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-50%);
}
.SidebarContainer .Sidebar .Links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SidebarContainer .Sidebar .Links a,
.SidebarContainer .Sidebar .Links span {
  padding: 1rem 5%;
  color: #f4f9fa;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.SidebarContainer .Sidebar .Links .accountBar {
  display: flex;
  flex-direction: column;
}
.SidebarContainer .Sidebar .FooterComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  background: #0d1d2f;
  z-index: 2;
}
@media (min-width: 1440px) {
  .SidebarContainer .Sidebar .FooterComponent {
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .SidebarContainer .Sidebar .FooterComponent {
    position: sticky;
    bottom: 0;
    left: 0;
  }
}
.SidebarContainer .Sidebar .InstallAppModal {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.SidebarContainer .Sidebar .InstallAppModal .Modal {
  padding: 0.75rem 1rem;
  background: #152335;
  border: 1px solid rgba(233, 237, 241, 0.25);
  border-radius: 4px;
  width: 90%;
  position: relative;
}
.SidebarContainer .Sidebar .InstallAppModal .Modal .ModalTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 5px;
}
.SidebarContainer .Sidebar .InstallAppModal .Modal span {
  font-size: 14px;
}
.SidebarContainer .Sidebar .InstallAppModal .Modal .Close {
  font-size: 20px;
  position: absolute;
  bottom: 1rem;
  right: 10%;
}
.SidebarContainer .Sidebar .Footer {
  margin: 20px 0;
  padding: 0 5%;
}
.SidebarContainer .Sidebar .Footer .Logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 5px;
  margin: 5px 0;
}
.SidebarContainer .Sidebar .Footer .Logout span {
  color: #dd7076;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.SidebarContainer .Sidebar::-webkit-scrollbar {
  width: 0px;
  display: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.SidebarContainer .Sidebar::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #0d1d2f;
}
.SidebarContainer .Sidebar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: transparent;
}
.SidebarContainer .Sidebar:hover::-webkit-scrollbar {
  width: 3px;
  display: block;
}
.SidebarContainer .Sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}

@media (min-width: 1440px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}

@media (min-width: 1440px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}

@media (min-width: 1440px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}

@media (min-width: 1440px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}
.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}

.Input::after {
  content: attr(data-after);
  position: absolute;
  left: var(--left-offset);
  font-size: x-large;
  color: red;
}

.Input span.before {
  margin-top: 12px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 40px;
  border-right: 1px solid black;
  padding-right: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.Input span + input {
  display: inline-block;
  padding-left: 100px;
}

.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Input .file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2.5px solid #e9edf1;
  border-radius: 14px;
  padding: 10px 1rem;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.Input .file span {
  width: 70%;
}

.Input .file i {
  line-height: 1.4;
  font-style: normal;
  text-decoration: underline;
  font-weight: 700;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .Span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .Span {
    font-size: 1.5rem;
  }
}
.Radio {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.Radio .radio {
  background: rgba(233, 237, 241, 0.2);
  padding: 10px 15px;
  border: 1.41644px solid #bac6d2;
  border-radius: 5.24918px;
  max-width: 250px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  transition: all 300ms ease-out;
  width: 100%;
}

.Radio .radio:hover {
  background: rgba(233, 237, 241, 0.4);
}

.Radio .radio label {
  cursor: pointer;
}

@media (max-width: 700px) {
  .Radio {
    flex-direction: column;
  }
}
.Selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}

.Selector .Filters {
  background: none;
  position: relative;
}

.Selector .Filters .filterCurrent {
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  padding: 0.2rem 0.5rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.Selector .Filters .filter {
  height: 300px;
  overflow-y: auto;
  border-radius: 7px;
  position: absolute;
  top: 0;
  z-index: 5;
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: none;
  background-color: rgba(13, 13, 13, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.9);
  opacity: 1;
  gap: 0.5rem;
  width: 100%;
  /* Style for the scrollbar */
  /* Style for the scrollbar thumb */
  /* Style for the scrollbar track */
}

.Selector .Filters .filter div {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0.8;
  background: none;
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  transition: opacity 200ms ease-in;
}

.Selector .Filters .filter div:hover {
  opacity: 1;
  background-color: rgb(13, 13, 13);
}

.Selector .Filters .filter::-webkit-scrollbar {
  width: 5px;
}

.Selector .Filters .filter::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.Selector .Filters .filter::-webkit-scrollbar-track {
  background-color: #1f202e;
}

.active {
  background-color: #1f202e !important;
  color: white;
  opacity: 1 !important;
}

.UserPage .UserSection {
  padding: 4%;
}
@media (max-width: 700px) {
  .UserPage .UserSection {
    padding-top: 10%;
  }
}
.UserPage .UserSection .User .UserBox {
  position: relative;
  padding: 4%;
  background: #12273d;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UserPage .UserSection .User .UserBox .Details {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.UserPage .UserSection .User .UserBox .Details div {
  font-size: 35px;
}
.UserPage .UserSection .User .UserBox .UserPlaceholder {
  position: absolute;
  height: 350px;
  width: 250px;
  bottom: 0;
  right: 0;
}
.UserPage .UserSection .User .UserBox span {
  flex: 1;
  height: 100%;
  position: absolute;
}
.UserPage .UserSection .User .UserBox span svg {
  height: 100%;
}
.UserPage .UserSection .User .UserBox .BG1 {
  left: -10%;
}
.UserPage .UserSection .User .UserBox .BG2 {
  right: 15%;
}
@media (max-width: 700px) {
  .UserPage .UserSection .User .UserBox {
    height: 250px;
  }
  .UserPage .UserSection .User .UserBox .Details div {
    font-size: 25px;
    line-height: 2rem;
  }
  .UserPage .UserSection .User .UserBox .Details p {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .UserPage .UserSection .User .UserBox {
    border-radius: 15px;
  }
  .UserPage .UserSection .User .UserBox .Details {
    width: calc(100% - 180px);
  }
  .UserPage .UserSection .User .UserBox .UserPlaceholder {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 473px) {
  .UserPage .UserSection .User .UserBox {
    height: 200px;
  }
  .UserPage .UserSection .User .UserBox .Details {
    width: calc(100% - 130px);
    gap: 5px;
  }
  .UserPage .UserSection .User .UserBox .Details div {
    font-size: 20px;
  }
  .UserPage .UserSection .User .UserBox .Details p {
    font-size: 14px;
    line-height: 1.35rem;
  }
  .UserPage .UserSection .User .UserBox .Details button {
    padding: 10px 15px;
  }
  .UserPage .UserSection .User .UserBox .UserPlaceholder {
    width: 150px;
    height: 250px;
  }
}
@media (max-width: 390px) {
  .UserPage .UserSection .User .UserBox {
    height: 150px;
    border-radius: 10px;
  }
  .UserPage .UserSection .User .UserBox .Details {
    width: calc(100% - 90px);
    gap: 5px;
  }
  .UserPage .UserSection .User .UserBox .Details div {
    font-size: 18px;
  }
  .UserPage .UserSection .User .UserBox .Details p {
    font-size: 13px;
    line-height: 1.3rem;
  }
  .UserPage .UserSection .User .UserBox .Details button {
    padding: 7px 10px;
    font-size: 0.7rem;
  }
  .UserPage .UserSection .User .UserBox .UserPlaceholder {
    width: 100px;
    height: 200px;
  }
}
@media (max-width: 360px) {
  .UserPage .UserSection .User .UserBox {
    height: 130px;
  }
  .UserPage .UserSection .User .UserBox .Details {
    width: calc(100% - 70px);
    gap: 2px;
  }
  .UserPage .UserSection .User .UserBox .Details div {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .UserPage .UserSection .User .UserBox .Details p {
    font-size: 12px;
    line-height: 1.2rem;
  }
  .UserPage .UserSection .User .UserBox .Details button {
    padding: 6px 8.5px;
    font-size: 0.65rem;
  }
  .UserPage .UserSection .User .UserBox .UserPlaceholder {
    width: 80px;
    height: 160px;
  }
}
.UserPage .TableSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.UserPage .TableSection aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.UserPage .TableSection .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 4%;
  border-top: 0.5px solid #8a8b8b;
  border-bottom: 0.5px solid #8a8b8b;
}
.UserPage .TableSection .Header p {
  font-weight: 700;
  color: #12273d;
  font-size: 20px;
}
.UserPage .TableSection .Header span {
  font-size: 14px;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.UserPage .TableSection .PaymentMethod .CardContainer {
  padding: 1rem 4% 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.UserPage .TableSection .PaymentMethod .CardContainer .Card {
  border: 2px dashed #98aabd;
  width: min(400px, 100%);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.UserPage .TableSection .PaymentMethod .CardContainer .Card p {
  font-size: 20px;
  line-height: 32px;
  color: #20466f;
  text-align: center;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox {
  padding: 12px 4% 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox {
  border-radius: 4px;
  flex: 3.5;
  border: 2px solid rgba(77, 107, 140, 0.5);
  border-radius: 4px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox .CurrencyName {
  background: #d5e9fd;
  padding: 3px 6px;
  border: 2px solid rgba(77, 107, 140, 0.5);
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox .CurrencyName span {
  color: #86898a;
  font-size: 14px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox .CurrencySelector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 6px;
  gap: 10px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox .CurrencySelector .CurrencyFlag {
  display: flex;
  align-items: center;
  gap: 2px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies .CurrencyBox .CurrencySelector p {
  border-left: 1px solid rgba(152, 170, 189, 0.5);
  color: #17324f;
  font-weight: 600;
  padding-left: 10px;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox .Currencies > svg {
  flex: 1;
}
.UserPage .TableSection .ConvertFunds .ConvertFundsBox button {
  border: 2px solid #17324f;
  filter: drop-shadow(0px 4px 20px rgba(24, 30, 36, 0.1));
  border-radius: 48px;
  width: min(300px, 100%);
}
.UserPage .TableSection .RecentPayments .RecentPaymentsBox {
  padding: 5% 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.UserPage .TableSection .Recommended .RecommendedOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0 4%;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option {
  border-bottom: 0.75px solid #e8e8e8;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option div {
  display: flex;
  gap: 8px;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option div .OptionInfo {
  gap: 5px;
  flex-direction: column;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option div .OptionInfo h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #44484a;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option div .OptionInfo p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #939697;
}
.UserPage .TableSection .Recommended .RecommendedOptions .Option span {
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  line-height: 0;
}
@media (min-width: 600px) {
  .UserPage .TableSection {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .UserPage .TableSection aside {
    align-self: baseline;
  }
  .UserPage .TableSection .ConvertFunds {
    order: 1;
    width: 120%;
  }
  .UserPage .TableSection .PaymentMethod {
    order: 2;
    width: 80%;
    position: relative;
    right: -20%;
    border-left: 0.5px solid #8a8b8b;
  }
  .UserPage .TableSection .RecentPayments {
    order: 3;
    width: 120%;
  }
  .UserPage .TableSection .Recommended {
    order: 4;
    width: 80%;
    position: relative;
    right: -20%;
    border-left: 0.5px solid #8a8b8b;
  }
}

.Aside {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  gap: 1rem;
  align-items: center;
}
.Aside .document div {
  border-radius: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aside .document .doc1 {
  background: #e7f2fe;
  width: 200px;
  height: 200px;
}
.Aside .document .doc1 .doc2 {
  background: #d5e9fd;
  width: 150px;
  height: 150px;
}
.Aside .document .doc1 .doc2 .doc3 {
  background: #cbe4fd;
  width: 100px;
  height: 100px;
}
.Aside .document .doc1 .doc2 .doc3 svg {
  width: 60px;
  height: 60px;
}
@media (max-width: 600px) {
  .Aside .document .doc1 {
    width: 140px;
    height: 140px;
  }
  .Aside .document .doc1 .doc2 {
    width: 100px;
    height: 100px;
  }
  .Aside .document .doc1 .doc2 .doc3 {
    width: 60px;
    height: 60px;
  }
  .Aside .document .doc1 .doc2 .doc3 svg {
    width: 35px;
    height: 35px;
  }
}
.Aside .emptyTx {
  max-width: 300px;
}
.Aside .emptyTx h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #3e3e42;
  text-align: center;
}
.Aside .emptyTx p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7e7e80;
}/*# sourceMappingURL=styles.module.css.map */